[submodule "mpc"]
	path = mpc
	url = https://5721309@github.com/5721309/mpc
[submodule "spdz"]
	path = spdz
	url = https://5721309@github.com/5721309/spdz
[submodule "mpcauth"]
	path = mpcauth
	url = https://5721309@github.com/5721309/mpcauth
